@page "/farmer/create"
@using Models
<h3>FarmerUpsert</h3>

<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">Create Farmer</h3>
    <div class="col-md-12">
        <div class=card"">
            <div class="card-body">
                <EditForm Model="FarmerDTO">
                    <div class="form-group">
                        <label>Farm Name</label>
                        <input type="text" />
                        <InputText @bind-Value="FarmerDTO.FarmName" class="form-control"></InputText>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" />
                        <InputText @bind-Value="FarmerDTO.FarmAddress" class="form-control"></InputText>
                    </div>
                    <div class="form-group">
                        <label>Farm Name</label>
                        <input type="text" />
                        <InputNumber @bind-Value="FarmerDTO.FarmZip" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">@Title Farmer</button>
          
                        <NavLink href="farmer" class="btn btn-secondary">Back To Index</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    private FarmerDTO FarmerDTO { get; set; } = new FarmerDTO();
     
    private string Title { get; set; } = "Create";
}
