@page "/farmer"
<h3>Farmer List</h3>

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Farmers</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="farmer/create" class="btn btn-info form-control"> Add Farmer</NavLink>
    </div>
</div>
@code {

}
